@import url('Public/styles.css');

/* self pic styling */
.self_pic_div {
  text-align: center;
}

.self_pic {
  max-width: 450px;
  max-height: 450px;
  border-radius: 10px;
}


.self_logo {
  width: 300px;
  height: 64px;
}

.personal_contact_div {
  text-align: center;
}

.personal_contact {
  max-width: 550px;
}



.imageDiv {
  text-align: center;
}

.imageDiv img {
  max-width: 388px;
  max-height: 388px;
  border-radius: 20px;
}


ul {
  list-style-type: circle;
}



.gigsDiv {
  position: relative;
  background-color: var(--color-light-pink);
  padding: 5px;
  border: 1px solid var(--color-light-black);
  border-radius: 10px;
}

#hidden_div, .defaultHide {
  display: none;
}

details[open]>summary>#labelHide {
  display: list-item;
  list-style-type: none;
}

details[open]>summary>#labelShow {
  display: none;
}


section {
  display: block;
}

details {
  overflow: auto;
  margin: 5px 0 5px 0;
}

summary {
  display: inline-flex;
  cursor: pointer;
  list-style: none;
}

table {
  table-layout: auto;
  width: 90%;
  margin-bottom: 15px;
}

td, th {
  border-bottom: 1px solid var(--color-light-black);
}



























/* Mobile S */
@media (max-width: 320px) and (max-width: 374.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 200px;
  }
  .self_pic {
    width: 280px;
    height: 280px;
    margin-top: 10px;
  }
  .self_logo {
    width: 250px;
    height: 50px;
    margin-top: 15px;
  }

  .textfield{
    padding-left: 20px;
    padding-right: 20px;
  }

  p {
    font-size: 12px;
    line-height: 20px;
  }

  .row {
    padding-left: 15px;
    padding-right: 15px;
  }


  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 12px;
  }

  .mixcloudDiv {
    margin-top: 50px;
    margin-bottom: 50px;  
  }

  .imageDiv img {
    max-width: 300px;
    max-height: 300px;
  }


  footer {
    font-size: 10px; 
  }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 250px;
  }
  .self_pic {
    width: 320px;
    height: 320px;
    margin-top: 15px;
  }
  .self_logo {
    width: 250px;
    height: 50px;
    margin-top: 15px;
  }


  .textfield{
    padding-left: 25px;
    padding-right: 25px;
  }

  p {
    font-size: 12px;
    line-height: 20px;
  }



  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 12px;
  }

  .mixcloudDiv {
    margin-top: 55px;
    margin-bottom: 55px;  
  }

  .imageDiv img {
    max-width: 310px;
    max-height: 310px;
  }

  footer {
    font-size: 10px; 
  }
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 575.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 275px;
  }
  .self_pic {
    width: 330px;
    height: 330px;
    margin-top: 20px;
  }
  .self_logo {
    width: 300px;
    height: 60px;
    margin-top: 15px;
  }


  .textfield{
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 12px;
    line-height: 20px;
  }


  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 12px;
  }

  .mixcloudDiv {
    margin-top: 60px;
    margin-bottom: 60px;  
  }

  .imageDiv img {
    max-width: 320px;
    max-height: 320px;
  }

  footer {
    font-size: 10px; 
  }
}

/* Tablets in vertical orientation */
@media (min-width: 576px) and (max-width: 767.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 300px;
  }
  
  .self_pic {
    width: 360px;
    height: 360px;
    margin-top: 20px;
  }
  .self_logo {
    width: 375px;
    height: 75px;
    margin-top: 25px;
  }

  .mixcloudDiv {
    margin-top: 65px;
    margin-bottom: 65px;  
  }

  .imageDiv img {
    max-width: 340px;
    max-height: 340px;
  }

  footer {
    font-size: 12px; 
  }
}


/* Tablets in horizontal orientation */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Hide the first main layout */
  main:first-child {
    display: none;
  }

  /* Show the second main layout */
  main:last-child {
    display: block;
  }

  .personal_contact_div {
    text-align: center;
  }

  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 350px;
  }


  .self_pic {
    width: 360px;
    height: 360px;
    margin-top: 20px;
  }
  .self_logo {
    width: 375px;
    height: 75px;
    margin-top: 25px;
  }



  .textfield{
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }


  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 16px;
  }

  .mixcloudDiv {
    margin-top: 65px;
    margin-bottom: 65px;  
  }

  .imageDiv img {
    max-width: 340px;
    max-height: 340px;
  }

  footer {
    font-size: 12px; 
  }





}







/* minilaptop/desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 375px;
  }
  .self_pic {
    width: 400px;
    height: 400px;
    margin-top: 20px;
  }
  .self_logo {
    width: 375px;
    height: 75px;
    margin-top: 25px;
  }





  .textfield{
    padding-left: 50px;
    padding-right: 50px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }


  .row.skills {
    padding-left: 25px;
    padding-right: 15px;
  }

  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 16px;
  }

  .mixcloudDiv {
    margin-top: 80px;
    margin-bottom: 80px;  
  }

  .imageDiv img {
    max-width: 360px;
    max-height: 360px;
  }

  footer {
    font-size: 12px; 
  }

}





/* big laptop */
@media (min-width: 1200px) and (max-width: 1440.98px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 375px;
  }
  .self_pic {
    width: 400px;
    height: 400px;
    margin-top: 20px;
  }
  .self_logo {
    width: 375px;
    height: 75px;
    margin-top: 25px;
  }




  .textfield{
    padding-left: 50px;
    padding-right: 50px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }


  .row {
    padding-left: 190px;
    padding-right: 130px;
  }

  .row.skills {
    padding-left: 25px;
    padding-right: 15px;
  }

  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 16px;
  }

  .mixcloudDiv {
    margin-top: 90px;
    margin-bottom: 90px;  
  }

  .imageDiv img {
    max-width: 360px;
    max-height: 360px;
  }

  footer {
    font-size: 12px; 
  }

}







/* Bigger screens */
@media (min-width: 1441px) {

  .personal_contact_div {
    text-align: center;
  }
 
  .personal_contact {
    /* transparent */
    background-color: rgba(255, 255, 255, 0.0);
    width: 400px;
  }

  .self_pic {
    width: 500px;
    height: 500px;
    margin-top: 20px;
  }
  .self_logo {
    width: 375px;
    height: 75px;
    margin-top: 25px;
  }


  p {
    font-size: 16px;
    line-height: 20px;
  }


  .skilltext {
    margin-left: 15px;
    margin-top: 15px;
  }

  ul li {
    font-size: 16px;
  }

  .mixcloudDiv {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .imageDiv img {
    max-width: 380px;
    max-height: 380px;
  }

  footer {
    font-size: 14px; 
  } 


}




/* for aligning navbar */
@media (min-width: 426px) {
  .navbar-expand-sm .navbar-nav {
    margin-left: auto; 
  }
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='magenta' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  background-size: cover;
  width: 30px;
  height: 30px; 
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
  outline: none;
}

/* Customize the mobile dropdown menu */
@media (max-width: 576px) {
  .custom-dropdown {
    position: absolute;
    top: 100%; 
    right: 8px; 
    background-color: var(--color-light-pink);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
    max-height: 0; 
    overflow-y: auto;
    width: 160px;
    transition: max-height 0.4s ease-in-out;
 
    border: 1px solid #000000;
  }

  /* Style the dropdown links */
  .custom-dropdown .nav-link {
    padding: 10px 20px; 
    display: block;
    color: var(--color-magenta);
    text-align: left; 
  }

  /* Show the dropdown when the class is active */
  .navbar-collapse.show .custom-dropdown {
    max-height: 240px; 
  }
}

